@import url("https://fonts.googleapis.com/css?family=Fira+Sans|Telex");

body {
  background-color: #ffe53b;
  background: no-repeat center center fixed linear-gradient(147deg, #ffe53b 0%, #ff2525 74%);
  background-size: cover;
}

body {
  font-family: "Telex", sans-serif;
}

.my_social {
  position: absolute;
  top: 25px;
  left: 25px;
}

.my_social a {
  display: inline-block;
  height: 2.5em;
}

.my_social a img {
  height: 1.5em;
}

div:not(.grp-input) {
  background: #fff;
  width: 80%;
  margin: auto;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fira Sans", sans-serif;
}

form {
  width: 90%;
  padding: 10px;
  margin: 0 auto;
}

/*  input,
  label {
    display: block;
  }

  label {
    padding-bottom: 5px;
  }

  .grp-input {
    display: flex;
    justify-content: space-between;
  }

  input::placeholder {
    color: #FFB436;
    font-weight: 600;
  }

  input:not([type="button"]) {
    width: 100%;
    height: 50px;
    border-radius: 3px;
    margin: 5px auto;
    border: #FF2E26 1px solid;
    padding-left: 15px;
  }

  input[type="button"] {
    margin-top: 30px;
    padding: 10px 35px;
    margin-right: auto;
    margin-left: auto;
  }

  #main-form p,
  #main-form h2 {
    text-align: center;
  }

  div#intro,
  div#main-form {
    text-align: center;
    margin-top: 5%;
    width: 70%;
  }

  div#intro form label,
  div#main-form form label {
    text-align: left;
  }

  div#main-form {
    display: none;
  }

  button.link-btn,
  button.su_link-btn {
    background: none !important;
    color: inherit;
    border: none;
    padding: 0 !important;
    font: inherit;
    border-bottom: 1px solid #444;
    cursor: pointer;
  }

.containers {
  width: 520px;
  margin: 20px auto;
}

#contact h1 {
  font-family: helvetica;
  font-weight: normal;
  text-align: center;
  color: #c0c0c0;
  padding-top: 50px;
  padding-bottom: 10px;
  width: 375px;
  margin: 0 auto;
  border-bottom: 3px solid #f3f3f3;
}

.cal {
  display: inline-block;
  background: #ffe;
  color: #555;
  font-size: 6px;
  text-align: center;
  transform: scale(1);
  transition: all 0.2s linear;
}

.cal:hover {
  transform: scale(2.5);
  transition: all 0.4s linear;
}

.cal caption {
  background: #d44;
  color: #eee;
  font-size: 15px;
}

.cal th {
  color: #aaa;
  line-height: 200%;
}

.cal th:first-child {
  color: #f00;
}

.cal th:last-child {
  color: #04d;
}

.cal td {
  padding: 0 2px;
  line-height: 100%;
}
